.ReviewContainer {
  display: flex;
  transform: translateY(-100px);
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}
.ReviewContainer .css-4rnakb {
  padding: 0;
  width: 100%;
  margin: 0;
}
.ReviewContainer .css-2pny16 p {
  font-size: 2rem;
}
.ReviewContainer .css-9cklu1 {
  display: none;
}
.ReviewContainer .css-nxnglb-MuiStack-root {
  display: block;
  width: 100%;
  border: none;
}
.ReviewContainer .css-w5dagv {
  width: 100%;
}
