.flex {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .restaurant-card {
    flex: 0 0 calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .restaurant-card {
    flex: 1 0 100%;
  }
}

.restaurant-list-container {
  width: 100%;
  max-width: 1400px; /* Adjust max-width as needed */
  margin: 0 auto;
  padding: 30px;
  padding-left: 0;
  background-color: #fff;
}

.restaurant-list-header {
  gap: 10px;
  justify-content: space-between;
}

.restaurant-list {
  margin: 20px 0;
  gap: 1%;
  margin-top: 70px;
  position: relative;
}

.restaurant-card-items > h1 {
  margin: 20px 0;
}
.filter-container {
  max-width: 30%;
  padding: 0 30px;
  position: fixed;
}

.restaurant-card {
  max-width: 70%;
  float: right;
  margin-bottom: 30px;
}

li {
  display: flex;
  gap: 10px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.image-restaurant {
  height: 200px;
  min-width: 295px;

  padding: 8px;
  border-radius: 20px;
}

.restaurant-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  gap: 5px;
}

.divider {
  border-top: 1px solid #ccc;
  margin: 5px 0;
}

.restaurant-detail > .detail-content {
  font-weight: 400;
  font-size: 20px;
}

.restaurant-detail > .detail-content-header {
  justify-content: space-between;
}

.address,
.phone-number {
  gap: 5px;
}

.type-restaurant {
  gap: 20px;
  font-weight: 500;
}

.menu {
  gap: 5px;
}

.menu > span {
  display: flex;
  align-items: center;
}

.restaurant-name {
  font-weight: 700;
  font-size: 25px;
}

.paginator {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-paginator {
  padding: 5px;
}
