.checkbox-filter,
.actions {
  margin-top: 8px;
}

.MuiFormControl-root {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.filter {
  background-color: #fff;
}

.filter > h1 {
  padding: 20px 0;
}

.search-label {
  margin-bottom: 10px;
}

.search-field {
  width: 100%;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.actions > button {
  cursor: pointer;
  padding: 15px 30px;
  font-size: 1.1rem;
  border-radius: 6px;
  border: 1px solid #000;
  width: 100%;
}

.apply-filter {
  background-color: red;
  color: #fff;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.checkbox-wrapper > input {
  height: 20px;
  width: 20px;
}

.checkbox-wrapper > label {
  font-size: 1.25rem;
}

.checkbox-filter {
  margin-bottom: 20px;
}

.checkbox-filter > h2 {
  margin-bottom: 10px;
}
