.ReservationsContainer {
  display: block;
  margin-top: 106px;
  padding: 20px;
}
.ReservationsMap {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;

  margin-top: 20px;
  padding: 20px;
  font-size: 12px;
}
.ReservationsTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
