.AdminContainer {
  margin-top: 100px;
  display: flex;
  gap: 10px;
}
.Containernone {
  width: 270px;
  height: 100vh;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .Containernone {
    width: 50px;
    padding: 10px;
  }
}
